body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.menu-ancors {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.header {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.p-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.second-header {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.avatar {
    border-radius: 10px;
    width: 300px
}

.request-form-text-input {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.request-form-button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}